rm '.DS_Store'
rm 'agents/.DS_Store'
rm 'agents/non_rl/.DS_Store'
rm 'agents/value_based/.DS_Store'
rm 'doudizhu/.DS_Store'
rm 'envs/.DS_Store'
rm 'experiments/.DS_Store'
rm 'experiments/double_dqn/.DS_Store'
rm 'experiments/double_dqn/rlenv_ddqn_fc/.DS_Store'
rm 'utils/.DS_Store'
